header {
    padding: 5px 10px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;

    gap: 10px;

    margin: 10px 0 20px 0;

}

h1 {
    font-family: "Roboto", serif;
    margin: 0;
}

main {
    padding: 5px 10px;
}