nav {
    display: flex;
    flex-direction: row;
    gap: 0 10px;

    a {
        font-family: "Roboto", serif;
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
    }

    padding: 2px 0 5px 10px;
    border-bottom: 2px solid black;
}

header {
    padding: 5px 10px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;

    gap: 10px;

    margin: 10px 0 20px 0;

}

h1 {
    font-family: "Roboto", serif;
    margin: 0;
}

main {
    padding: 5px 10px;
}

ul.lesson-group, ul.comments {
    display: flex;
    flex-direction: column;
    gap: 5px;

    list-style: none;
    padding-left: 0;

    li {
        display: flex;
        flex-direction: column;
        padding: 2px 4px;

        h3, p {
            margin: 0;
        }

        border: 1px solid black;

        &:hover {
            cursor: pointer;
        }
    }
}

