<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" href="../icons/favicon.ico" type="image/x-icon">
</head>
<body>
{{ template "navigationBar" "home" }}
<header>
    <h1>Домашняя страница</h1>
</header>
<main>
    <div id="recent-lessons-container">
        <h2>Новые материалы</h2>
        <ul class="lesson-group">
            {{ range .lessons }}
            {{ template "lessonCard" . }}
            {{ end }}
        </ul>
    </div>
    <div id="recent-activity-container">
        <h2>Последняя активность</h2>
        <ul class="activity-group">
            {{ range .events }}
            {{ template "eventCard" . }}
            {{ end }}
        </ul>
    </div>
</main>
<script src="../scripts/index.js"></script>
</body>
</html>