{{ define "lessonCard" }}


<li class="lesson-card" id="lesson-card__{{ .ID }}">
    <a href="/materials/{{ .ID }}">
        <h3>#{{ .ID }}. {{ .Name }}</h3>
        <p>{{ .Description }}</p>
    </a>
</li>
<script>
    card = document.querySelector("li#lesson-card__{{ .ID }}")

    card.addEventListener("click", (e) => monitor.sendMonitoringEvent(
        "li#lesson-card__{{ .ID }}",
        "clicked lesson ID#{{ .ID }}",
        e.type,
        e.clientX,
        e.clientY,
    ))
</script>

{{ end }}